<div class="content">
<div class="login">
  <div class="container">
    <div class="form">
      <h1>Logowanie</h1>
      <div class="notice">
        <%= flash[:alert] %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form_for(:session, url: login_path) do |f| %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <%= f.email_field :email, :class => "form-control", :placeholder => "E-mail" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-credit-card" id="basic-addon1"></span>
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
              </div>
              <%= f.submit "Zaloguj", :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>