<div class="login">
  <div class="container">
    <div class="form">
      <h1>Rejestracja</h1>

      <%= form_for(@user) do |f| %>
          <div class="field">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <%= f.email_field :email, :class => "form-control", :placeholder => 'email' %>
            </div>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-credit-card" id="basic-addon1"></span>
              <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
            </div>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-credit-card" id="basic-addon1"></span>
              <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Zarejestruj", :class => "btn btn-default" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
 $('.dropdown-toggle').dropdown();
</script>
