<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <p>Link do ogloszenia dodany dnia:</p>
      <p class=" text-info"><%= @advert.date_link_added.strftime('%e %b %Y') %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= if (@advert.site != nil)
                  link_to Site.model_name.human + ' ' + @advert.site.name, @advert.site.url
                else
                  printf t 'jag.undefined'
                end %>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <%= link_to @advert.url do %>
                <div class="col-md-3 col-lg-3 " align="center">
                  <%= if (@advert.site != nil)
                        image_tag @advert.site.name+".png", title: "Site Logo", class: "img-circle img-responsive"
                      end %>
                </div>
            <% end %>
            <div class=" col-md-9 col-lg-9 ">
              <%= bootstrap_form_for(@advert, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6") do |f| %>
                  <%= f.text_field :job_category, value: @advert.job_category.name %>
                  <%= f.text_field :city, value: @advert.city.name %>
                  <%= f.text_field :province, label: City.human_attribute_name(:province), value: @advert.city.province.name %>
                  <%= f.text_field :company, value: @advert.company.name %>
                  <%= f.text_field :appointment,  value: @advert.appointment %>
                  <%= f.date_field :date_adv_added, value: @advert.date_adv_added.strftime('%Y-%m-%d') %>
                  <%= f.date_field :date_expiration, value: @advert.date_expiration.strftime('%Y-%m-%d') %>
                  <%= f.form_group :verified do %>
                      <%= f.check_box :verified, value: @advert.verified %>
                  <% end %>
                  <%= link_to t('jag.go_back'), advert_path(@advert), class: "btn btn-default" %>
                  <%= link_to t('jag.go_to_advert'), @advert.url, class: "btn btn-default" %>
                  <div class="pull-right">
                    <%= f.submit class: "btn btn-primary" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-original-title="<%= t('jag.send_msg') %>" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            <span class="pull-right">
              <div class="row">
                <%= button_to edit_advert_path(@advert), class: "btn btn-sm btn-warning", method: "get", :title => t('helpers.links.edit'), :rel => 'tooltip' do %>
                    <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= button_to(advert_path(@advert), class: "btn btn-sm btn-danger", method: "delete", :title => t('helpers.links.destroy'), :rel => 'tooltip', remote: true, data: {confirm: t('.delete_verify_q')}) do %>
                    <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>