<div class="jumbotron">
  <div class="panel-body">
    <strong><%= @adverts.count %></strong>
    <table class="table table-striped table-responsive ">
      <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Firma</th>
        <th>Kategoria Pracy</th>
        <th>Miasto</th>
        <th>Wojewodztwo</th>
        <th>Stanowisko</th>
        <th>Data dodania do listy</th>
      </tr>
      </thead>
      <tbody>
      <% @adverts.each do |a| %>
        <tr>
          <td><%= a.id %></td>
          <td><%= link_to "Szczegoly", action: "show", id: a %></td>
          <td><%= a.job_category.name %></td>
          <td><%= a.city.name %></td>
          <td><%= a.city.province.name %></td>
          <td><%= a.company.name %></td>
          <td><%= a.appointment %></td>
          <td><%= a.date_adv_added %></td>
          <td><%= a.date_expiration %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>