<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <p>Link do ogloszenia dodany dnia:</p>
      <p class=" text-info"><%= @advert.date_adv_link_added.strftime('%e %b %Y') %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= if (@advert.site != nil)
                  link_to @advert.site.name, @advert.site.url
                else
                  printf 'undefinded'
                end %>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <%= link_to @advert.url do %>
              <div class="col-md-3 col-lg-3 " align="center">
                <%= if (@advert.site != nil)
                      image_tag @advert.site.name+".png", title: "Site Logo", class: "img-circle img-responsive"
                end %>
              </div>
            <% end %>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Kategoria:</td>
                  <td><%= @advert.job_category.name %></td>
                </tr>
                <tr>
                  <td>Miasto:</td>
                  <td><%= @advert.city.name %></td>
                </tr>
                <tr>
                  <td>Wojewodztwo:</td>
                  <td><%= @advert.city.province.name %></td>
                </tr>
                <tr>
                  <td>Firma:</td>
                  <td><%= @advert.company.name %></td>
                </tr>
                <tr>
                  <td>Stanowisko:</td>
                  <td><%= @advert.appointment %></td>
                </tr>
                <tr>
                  <td>Data ogloszenia:</td>
                  <td>
                    <% @advert.date_adv_added.strftime('%e %b %Y') %></td>
                </tr>
                <tr>
                  <td>Oferta wygasa:</td>
                  <td><%= @advert.date_expiration.strftime('%e %b %Y') %></td>
                </tr>
                </tbody>
              </table>
              <%= link_to "<- Powrot", adverts_path, class: "btn btn-primary" %>
              <div class="pull-right">
                <%= link_to "Przejdz do oferty", @advert.url, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-original-title="Send Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            <span class="pull-right">
              <div class="row">
                <%= button_to edit_advert_path(@advert), class: "btn btn-sm btn-warning", method: "get", :title => 'Edytuj', :rel => 'tooltip' do %>
                    <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= button_to(advert_path(@advert), class: "btn btn-sm btn-danger", method: "delete", :title => 'Usun', :rel => 'tooltip', remote: true, data: {confirm: 'Usunac wybrane ogloszenie?'}) do %>
                    <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>